POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# Image: ghcr.io/zhyporium/postgres:18_timescale
# psql: postgresql://postgres:postgres@localhost:5432/postgres?sslmode=require
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?sslmode=require&schema=public
